absl-py
anyio
argon2-cffi
asn1crypto
astunparse
async-generator
attrs
Babel
backcall
bleach
cached-property
cachetools
certifi
cffi
chardet
chart-studio
colorlover
contextvars
cryptography
cufflinks
dataclasses
decorator
defusedxml
entrypoints
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
immutables
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-core
jupyter-highlight-selected-word
jupyter-http-over-ws
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
keras-nightly
Keras-Preprocessing
keyring
keyrings.alt
lxml
Markdown
MarkupSafe
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
plotly
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
pycparser
pycrypto
Pygments
pygobject
pyparsing
pyrsistent
python-apt
python-dateutil
pytz
pyxdg
PyYAML
pyzmq
requests
requests-oauthlib
requests-unixsocket
retrying
rsa
SecretStorage
Send2Trash
six
sniffio
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
zipp
